<tr>
  <td><%= link_to item_script.name, repository_item_script_path(repository, item_script) %></td>
  <td><%= item_script.command %></td>
  <td><%= link_to 'Destroy', repository_item_script_path(repository, item_script), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
